extends ../layout

block content 
    link(rel="stylesheet", href="/style.css")
    h1 Equipos
        table
            thead 
                th Nombre equipo 
                th Fecha creación 
                th capitan
                th Estadio 
            tbody 
                each team in teams 
                    tr
                        td= team.name 
                        td= team.creation_date  
                        td= team.idcaptain
                        td= team.idstadium   
                        if team.idteam  
                            td=team.idteam
                        else
                            td Sin equipo
                            if captain.idcaptain  
                                td=captain.idcaptain
                            else
                                td Sin capitan
                            td 
                                form(action=`/teams/team/delete/${team.idteam}`, method="post")
                                    input(type="hidden", name="password", value="mi-contraseña")
                                    input(type="submit", value="Eliminar")
        a(href="/teams/new")
            button Crear un equipo  
