extends ../layout

block content 
    link(rel="stylesheet", href="/style.css")
    h1 Estadios 
        table
            thead 
                th Nombre estadio
                th dirección 
                th Capacidad 
            tbody 
                each stadium in stadiums 
                    tr
                        td= stadium.name 
                        td= stadium.address  
                        td= stadium.capacity
                        if stadium.team 
                            td=stadium.team.name
                        else
                            td Sin equipo
                        td 
                            form(action=`/stadiums/stadium/delete/${stadium.idstadium}`, method="post")
                                input(type="hidden", name="password", value="mi-contraseña")
                                input(type="submit", value="Eliminar")
        a(href="/stadiums/new")
            button Crear un estadio  
