extend ../layout

block content
    h1 Editar un jugador
    form(action=`/players/edit/${player.idplayer}` method="POST")
        label(for="name") Nombre
        input(type="text" name="name" id="name" value=player.name)
        br
        label(for="last_name") Apellido
        input(type="text" name="last_name" id="last_name" value=player.last_name)
        br
        label(for="age") Edad
        input(type="number" name="age" id="age" value=player.age)
        br
        label(for="idteam") Equipo 
        if teams
            select(name="idteam" id="idteam")
                option(value="0") Sin Equipo
                each team in teams
                    if player.team && player.team.idteam === team.idteam
                        option(value=team.idteam selected)=team.name 
                    else
                        option(value=team.idteam)=team.name 
 
        else
            input(type="number" name="idteam" id="idteam")
        br
        input(type="hidden", name ="password", value="mi-contraseña")
        input(type="submit", class="btn edit", value="guardar")
    a(href="/players/update")
        button Volver 