extends ../layout

block content 
    link(rel="stylesheet", href="/style.css")
    h1 Jugadores
        table(class="table table.striped", id="players")
            thead 
                th Nombre 
                th Apellido 
                th Edad 
                th Equipo 
            tbody 
                each player in players 
                    tr
                        td
                            a(href=`/players/player/${player.idplayer}`)= player.name 
                        td= player.last_name 
                        td= player.age 
                        if player.team 
                            td=player.team.name
                        else
                            td Sin equipo 
                        td 
                            // if auth && auth.role == "admin"
                            form(action=`/players/edit/${player.idplayer}`, method="get")
                                input(type="submit", name="btn edit", value="Editar")
                            form(action=`/players/delete/${player.idplayer}`, method="post")
                                input(type="hidden", name="password", value="mi-contraseña")
                                input(type="submit", value="Eliminar")
        a(href="/players/new")
            button Crear un jugador 